/* index.css */

html {
  scroll-behavior: smooth;
}
a:hover {
  color: #00acee;
  transition: 0.3s;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2a003f; /* dark background */
  color: #fff;
  padding: 20px;
}



.navbar1 {
  border-radius: 10px;
  /* background-color: #5b0590; header bar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5%;
  margin-bottom: 100px;

  
}
.left:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 15px rgba(0,0,0,0.3);
}
.navbar1 a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
.navbar1 a:hover{
  background-color: rgb(46, 46, 198);
}

.navbar {
background: rgba(255, 255, 255, 0.1); /* transparent */
  color: white;
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0,0,0,0.2);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  margin: 40px auto 0 auto;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a:hover {
  color: #00acee;
}

h1 {
  font-size: 48px;
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  margin-top: 100px;
}

h6 {
  font-size: 16px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgb(101, 10, 144);
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  line-height: 1.6;
}
section {
  margin-bottom: 200px; /* Adds 50px space after each section */
}
.left{
  text-align: center;
  width:80%;
  background: rgba(255, 255, 255, 0.1); /* transparent */
  color: white;
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0,0,0,0.2);

  padding:75px;
  border-radius: 20px;
  margin-left: 85px;
  margin-bottom: 100px;
}
h2{
  text-align: center;
  text-shadow: #5b0590;
}
h4{
  text-decoration: underline;
}
/* Skills Section */
#Skills {
  /* text-align: center; */
  margin-bottom: 150px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
  max-width: 800px;
  margin: 40px auto;
}

.skill {
background: rgba(255, 255, 255, 0.1); /* transparent */
  color: white;
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 15px rgba(0,0,0,0.3);
}

.skill img {
  width: 50px;
  height: 50px;
  /* margin-bottom: 10px; */
}

.skill p {
  width: 75%;
}
.pro{
  background: rgba(255, 255, 255, 0.1); /* transparent */
  color: white;
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pro p{
  -moz-text-decoration-color: #0056b3;
}